<!--<div class="row">
  <div class="col-md-12">
    <p>You are in : {{institute}}</p>
    <p>calculation is : {{45*45}}</p>
    <p>Date is : {{date()}}</p>
  </div>
</div>

  <div class="row">
    <div class="col-md-12">
      <input type="{{type}}">
      <input [type]="type">
      <input [type]="'button'">
    </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <p [style.border]="'1px solid red'">You are in codekul.</p>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
          <p [class.alert]="true" [class.alert-info]="true">You are in codekul.</p>
        </div>
      </div>
      <div class="row">
          <div class="col-md-12">
            <input type="button" value="okay" class="btn btn-primary" (click)="myClk($event)">     </div>
          </div>

      <div class="card">
      <div class="row">
          <div class="col-md-12">
            <p [class.alert]="true"
               [class.alert-info]="alSts.isInfo"
               [class.alert-info]="alSts.isSuccess"
               [class.alert-info]="alSts.isWarning"
               [class.alert-info]="alSts.isDanger"
            >Welcome to Top training, codekul</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
             <input type="button" value="Warning" class="btn btn-warning" (click)="mkAlt('Warning')">
             <input type="button" value="Info" class="btn btn-info" (click)="mkAlt('info')">
             <input type="button" value="Success" class="btn btn-success" (click)="mkAlt('success')">
             <input type="button" value="Danger" class="btn btn-danger" (click)="mkAlt('danger')">
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="text" [(ngModel)]="myVar">{{myVar}}
        </div>
    </div>
    <hr>
    <input [(ngModel)]="username">
    <p>Hello {{username}}!</p>-->


      <app-calculator></app-calculator>
