
/*.container{
 margin-top: 50%;
 padding: 0;
 position: relative;
}*/

  .container{
   background-color: #52565e;
   border-radius: 23px;
   padding: 1.30em 1em 1.5em 1.5em;
   margin: auto;
   width: 350px;
   clear: both;
   margin-top: 50%;
  }

  table{
    width: 300px;
    border-radius: 23px gray;

  }
button {
  background-color: #dbebfa;
  color: black;
}
 input {
  width: 300px;
  font-weight: bold;
  background-color: ghostwhite;
  height: 40px;
}


