
<div class="container">
    <app-information></app-information>

   <div class="row">

    <div class="col-md-8">
      <app-billing-address></app-billing-address>
      <app-selector></app-selector>

      <hr class="mb-4">
      <app-checkbox></app-checkbox>
       <hr class="mb-4">
       <app-payment></app-payment>

        <app-card-details></app-card-details>


         <app-card-expiration></app-card-expiration>

       <hr class="mb-4">
       <app-continue-button></app-continue-button>

  </div>

         <app-cart></app-cart>
  </div>



     <app-footer></app-footer>



</div>
